nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: steelblue;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 800px;
}

aside {
    max-width: 200px;
    margin: 10px;
    border: 10px;
    padding: 2px;
    background-color: bisque;
    color: black;
}
aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 20px;
    border-top: 1em solid #000;
    text-align: center;
}